/**
 * Backgrounds
 */

// Dependencies
// @import '...';

// Declarations
.br-no-repeat {
  background-repeat: no-repeat
}

.br-repeat-y {
  background-repeat: repeat-y
}

.br-repeat-x {
  background-repeat: repeat-x
}

.bs-cover {
  background-size: cover;
}

.bp-center {
  background-position: center center
}

.bp-right-center {
  background-position: right center
}

.bp-left-center {
  background-position: left center
}

.bp-center-bottom {
  background-position: center bottom
}

// .bp-33_33 {
//   background-position: 33% 33%
// }

// .bp-66_33 {
//   background-position: 66% 33%
// }

// .bp-99_33 {
//   background-position: 99% 33%
// }

// .bp-33_66 {
//   background-position: 33% 66%
// }

// .bp-66_66 {
//   background-position: 66% 66%
// }

.bs-h-100 {
  background-size: auto 100%
}

.bs-w-100 {
  background-size: 100% auto
}