/**
 * Dimensions
 */

// Dependencies
@import '../core/grid.vars';

// Declarations
.w-100p {
  width: 100%;
}

.h-100p {
  height: 100%
}

.wh-100p {
  width: 100%;
  height: 100%
}

.mh-25vh {
  min-height: 25vh
}

.mh-33vh {
  min-height: 33.33vh
}

.mh-50vh {
  min-height: 50vh
}

.mh-66vh {
  min-height: 66.66vh
}

.mh-75vh {
  min-height: 75vh
}

.mh-100vh {
  min-height: 100vh
}
