/**
 * Display
 */

// Dependencies
@import '../core/grid.vars';
@import '../core/display.mixins';

// Declarations
@include display();

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.o-hidden {
  overflow: hidden
}

.o-scroll {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// Create flexbox grow for the grid system
@for $flex-column-index from 1 through $grid-columns {

  .f-#{$flex-column-index} {
    flex: $flex-column-index
  }

}

.o--1 {
  order: -1
}

.jc-start {
  justify-content: flex-start
}

.jc-end {
  justify-content: flex-end
}

.jc-center {
  justify-content: center
}

.ai-start {
  align-items: flex-start
}

.ai-end {
  align-items: flex-end
}

.ai-center {
  align-items: center
}

.ai-stretch {
  align-items: stretch
}

.ai-baseline {
  align-items: baseline
}

.fd-column {
  flex-direction: column
}

.fd-column-reverse {
  flex-direction: column-reverse
}

.fd-row {
  flex-direction: row
}

.fd-row-reverse {
  flex-direction: row-reverse
}