//
// Variables
//

// Dependencies
@import 'vars';

$vars: map-get($vars, 'fonts');

$font-family: map-get($vars, 'font-family');
$font-base: map-get($vars, 'font-size');
$line-height-base: map-get($vars, 'line-height');

$font-italic: 'Domain Text Light Italic';
$font-bold: 'Domain Text Bold';
$font-system: map-get($vars, 'font-system');