/**
 * Hyperlinks
 */

// Dependencies
@import 'colors.vars';

// Declarations
a {
  color: inherit;
  text-decoration: none;
  position: relative;

  &:not(.btn):after {
    content: '';
    border-bottom: 2px solid;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
  }

  &:not(.btn):hover:after {
    opacity: 1;
  }

  &:not(.btn):visited {
    color: inherit;
  }
}
