

{% extends "layouts/page.index.twig" %}


{% block content %}

  <h1>Save the Weekend!</h1>

  <h2>4:00pm, Saturday June 9th, 2018
    Newton Farm, West Kill, New York</h2>

  <p>We're getting hitched and we want you to celebrate with us. Please let us
    know.</p>

{% endblock %}